@import 'styles/mixins.scss';
@import 'styles/theme.scss';

.btn-theme-primary {
    @include themed-button($theme-primary, $theme-secondary);
}

.btn-theme-secondary {
    @include themed-button($theme-secondary, $theme-primary);
}

.btn-theme-success {
    @include themed-button($theme-success, white);
}

.btn-theme-error {
    @include themed-button($theme-error, white);
}

.btn-theme-warning {
    @include themed-button($theme-warning, white);
}

.btn-theme-dark {
    @include themed-button($theme-dark, $theme-secondary);
}

.layout-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;

    &__navbar {
        div.navbar-nav {
            a.active.nav-link {
                color: $theme-secondary;
                border-bottom: 2px solid $theme-secondary;
            }
        }
    }

    &__navbar-toggle {
        border: none;
    }

    &__footer {
        margin-top: auto;

        &__button {
            &--active {
                color: $theme-secondary;
            }
        }
    }
}

.content {
    &__header-container {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 350px;
        &__jumbotron {
            height: 450px;
            &--home {
                @include header-background-image('home.jpg');
            }
        }
        &__title {
            &--services {
                @include header-background-image('services.jpg');
            }
        }
    }

    &__card {
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

        &--home-image-card {
            min-height: 450px;
        }

        &__responsive-rounded-start-image {
            @include media-breakpoint-down(md) {
                @include border-top-radius($border-radius);
            }
            @include media-breakpoint-up(md) {
                @include border-start-radius($border-radius);
            }
        }
    }
}
