@mixin themed-button($primary-color, $secondary-color) {
    background-color: $primary-color;
    color: white;
    &:hover {
        filter: brightness(85%);
        color: $secondary-color;
        box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    }
    &:focus {
        box-shadow: 0 0 0 0.1rem;
    }
}
